@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Lexend+Giga:wght@100..900&display=swap');

.sidebar {
  /* position:fixed; */

  height: 94vh;
  width: 15%;
  background-color: #FFECB3; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}

.sidebar h2 {
  text-align: center;
  color: #212121; 
  margin-top: 20px;

  font-family: "Lexend Giga", sans-serif;
  font-weight: 700; 
  font-size: 2rem; 
}

.sidebar ul {
  list-style: none;
  padding: 20px;
}

.sidebar ul li {
  margin: 15px 0;
}

/* Shared styles for all links and buttons */
.sidebar ul li a, .button {
  color: black;
  text-decoration: none;
  display: flex; 
  align-items: center; 
  gap: 10px; 
  font-family: "Lexend Giga", sans-serif;
  font-weight: 700; 
  font-size: 1rem; 
  padding: 10px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Hover effects for both links and buttons */
.sidebar ul li a:hover, .button:hover {
  background-color: #FFC107; 
  color: white; 
}

/* Button-specific styles */
.button {
  border: none; 
  background-color: transparent; 
  cursor: pointer;
  margin: 15px 0;
  padding-right:80px
}


.active {
  background-color: #ffbf00a3; /* Highlight color */
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
